/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
/* ----- FONTS ---------- */
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-light.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
/* ----- GENERAL LAYOUT ----- */
* {
  margin: 0;
  padding: 0;
}

/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* ----- BANNER ---------- */
.banner {
  background-color: rgb(100, 128, 0);
  height: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.banner ul {
  display: flex;
  gap: 1.5vw;
  margin-left: -10rem;
}

.banner li {
  display: flex;
  list-style: none;
}

.banner li a {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}

.banner li img {
  max-width: 20px;
}

select,
input {
  padding: 0 0.5vw;
  background-color: rgb(255, 255, 255);
  color: rgb(13, 18, 9);
  border: none;
}

.submit {
  background-color: rgb(67, 84, 3);
  color: rgb(255, 255, 255);
  margin: 0 0.5vw;
  padding: 0.1vw 1vw;
}

.promo {
  max-width: 40vw;
}

.promo p {
  white-space: no-wrap;
}

/* ----- MAIN NAVBAR ----- */
.navbar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1800px;
  height: 11vh;
  top: 1.5vh;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/* --------------- LOGO ----- */
.logo img {
  position: absolute;
  z-index: -1;
  top: -18px;
  left: 5vw;
}

.logo h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.logo h1 .fresh {
  color: rgb(100, 128, 0);
}

.logo h1 .shop {
  color: rgb(13, 18, 9);
}

/* ---------------NAV MENU ----- */
.links {
  display: flex;
  gap: 2rem;
  padding-top: 1.8rem;
  margin-left: -6vw;
}

.links li {
  list-style: none;
}

.links li a {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(13, 18, 9);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.links li a:hover {
  color: rgb(100, 128, 0);
}

.burger-menu {
  display: none;
}

/* --------------- ACTION BUTTONS ----- */
.buttons {
  display: flex;
  gap: 1vw;
}

.buttons .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vh;
  padding: 0 2vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.buttons .btn img {
  max-width: 1.3vw;
}

.buttons .btn a {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(13, 18, 9);
  padding-left: 0.1vw;
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 990px) {
  .banner {
    display: none;
  }
  header {
    background: white;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    height: 15vh;
  }
  .logo img {
    margin-left: -5vw;
  }
  h1 {
    justify-content: center;
    margin-top: 7vh;
    margin-left: 2vw;
  }
  span {
    font-size: 7vw;
  }
  .links {
    display: none;
  }
} 

/*# sourceMappingURL=header.css.map */
