/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
/* ----- FONTS ---------- */
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-light.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
/* ----- GENERAL LAYOUT ----- */
* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
/* ----- FONTS ---------- */
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-light.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
/* ----- GENERAL LAYOUT ----- */
* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
header {
  position: fixed;
  display: grid;
  z-index: 2;
  top: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

/* ----- BANNER ---------- */
.banner {
  position: relative;
  background-color: rgb(118, 148, 10);
  min-width: 100vw;
  max-width: 100vw;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner ul {
  display: flex;
  gap: 1.5vw;
  margin-left: -10rem;
}

.banner li {
  display: flex;
  list-style: none;
}

.banner li a {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(208, 244, 180);
}

.banner li img {
  max-width: 20px;
}

.searchBar .promo,
.infoNav,
.languageSelect {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.languageSelect {
  padding-left: 2rem;
}

.searchBar {
  padding-right: 2rem;
}

select,
input {
  padding: 0 0.5vw;
  background-color: rgb(208, 244, 180);
  color: rgb(13, 18, 9);
  border: none;
}

.submit {
  background-color: rgb(67, 84, 3);
  color: rgb(208, 244, 180);
  margin: 0 0.5vw;
  padding: 0.1vw 1vw;
}

.promo {
  max-width: 40vw;
}

.promo p {
  white-space: no-wrap;
}

/* ----- MAIN NAVBAR ----- */
.navbar {
  position: relative;
  display: flex;
  width: 77vw;
  margin: 0 auto;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  top: 2rem;
  box-sizing: border-box;
}

/* --------------- LOGO ----- */
.logo {
  position: relative;
  display: flex;
  margin-left: 1rem;
}

.logo img {
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 2vw;
}

.logo h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.logo h1 .fresh {
  color: rgb(118, 148, 10);
}

.logo h1 .shop {
  color: rgb(13, 18, 9);
}

/* ---------------NAV MENU ----- */
.links {
  position: relative;
  display: flex;
  gap: 2rem;
  padding-top: 1.8rem;
}

.links li {
  list-style: none;
}

.links li a {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  color: rgb(13, 18, 9);
  text-transform: uppercase;
  font-size: 1.1rem;
}

.links li a:hover {
  color: rgb(118, 148, 10);
}

.burgerBtn,
.burgerMenu,
.mobileHeader {
  display: none;
}

/* --------------- ACTION BUTTONS ----- */
.buttons {
  display: flex;
  position: relative;
  gap: 1vw;
  margin-right: 1rem;
}

.buttons .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  padding: 1vh 2vw;
  background-color: white;
  border-radius: 9px;
  border: 2px solid rgb(118, 148, 10);
}

.buttons .btn img {
  max-width: 1.3vw;
}

.buttons .btn a {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(13, 18, 9);
  padding-left: 0.1vw;
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 990px) {
  /* ----- DISPLAY NONE ----- */
  header {
    background: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .banner,
  .navbar,
  .links,
  .buttons,
  .logo {
    display: none;
  }
  /* ----- ADAPTATIVE ----- */
  .mobileHeader {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    width: 100vw;
    height: 10vh;
    background-color: white;
  }
  .mobileHeader h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 800;
    font-size: 2.1rem;
    margin-left: -1.5rem;
  }
  .mobileHeader h1 .fresh {
    color: rgb(118, 148, 10);
  }
  .mobileHeader h1 .shop {
    color: rgb(13, 18, 9);
  }
  .mobileImg,
  .mobileLogo,
  .burgerBtn {
    display: flex;
    position: relative;
  }
  .burgerBtn {
    margin-right: 2rem;
    cursor: pointer;
  }
  /* ----- BURGER MENU ----- */
  .burgerMenu {
    display: none; /* --- FLEX --- */
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 80vh;
    margin-top: 15vh;
    border-radius: 6px;
    box-shadow: 5px;
  }
  .burgerMenu .search {
    width: 100%;
  }
  .burgerMenu .divider {
    background-color: rgb(118, 148, 10);
    width: 70vw;
    height: 2px;
  }
  .burgerMenu li {
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
  }
  .burgerMenu li a {
    font-family: "Heebo", sans-serif;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(13, 18, 9);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .burgerMenu li a:hover {
    color: rgb(208, 244, 180);
    background-color: rgb(118, 148, 10);
    padding: 0.8rem;
    background-size: 100vw;
  }
}
main {
  background-color: rgb(118, 148, 10);
  width: 100vw;
  margin: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

/* -------------------- JUMBO SLIDER -------------------- */
.keen-slider {
  height: 92vh;
  box-sizing: content-box;
  width: 100%;
  border-radius: 0 0 50px 50px;
  border-bottom: 3px solid rgb(118, 148, 10);
  box-shadow: 0 7px 5px 3px rgba(0, 0, 0, 0.2);
}

.keen-slider .welcome {
  position: absolute;
  display: flex;
  background-color: rgba(67, 84, 3, 0.7);
  border-top: 2px solid rgb(118, 148, 10);
  border-bottom: 2px solid rgb(118, 148, 10);
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 50%;
  margin-top: 18rem;
  gap: 1rem;
}

.keen-slider .welcome h1 {
  font-weight: 600;
  font-size: 3rem;
}

.keen-slider .welcome p {
  font-weight: 400;
}

.keen-slider .keen-slider__slide {
  display: flex;
}

.keen-slider .keen-slider__slide img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* -------------------- OUR SERVICES -------------------- */
.Services {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.Services .container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 50px 50px;
}

/* -------------------- BLOG POST -------------------- */
.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.blog .blogcontainer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(208, 244, 180);
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 50px 50px;
}

.blog .blogcontainer h3 {
  font-weight: 800;
  color: rgb(208, 244, 180);
  padding-top: 1rem;
  text-transform: uppercase;
}

.blog .blogcontainer p {
  position: relative;
  font-weight: 400;
  width: 80%;
  padding: 1.5rem;
}

/* ----- COMMON FEATURES ----- */
h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 2.4rem;
  color: white;
}

/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
/* ----- FONTS ---------- */
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-light.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: local("../assets/fonts/Heebo-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
/* ----- GENERAL LAYOUT ----- */
* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
}

/* ----- THEME COLORS ---------- */
/* ----- ACTION BUTTON COLORS ----- */
.mainCard {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(118, 148, 10);
  margin: 5rem 0;
  border-radius: 0 36px 36px;
}

.mainCard img {
  aspect-ratio: 1/1;
  width: 100%;
}

.mainCard p {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: white;
  font-weight: 600;
}

@media (max-width: 990px) {
  main {
    margin-top: 1.7rem;
    overflow-x: hidden;
  }
  .keen-slider {
    margin-top: 0;
    border-radius: 0 0 35px 35px;
  }
  .keen-slider img {
    box-sizing: content-box;
    height: 100%;
  }
  .keen-slider .welcome {
    margin-top: 10rem;
  }
  .container,
  .blogcontainer {
    flex-direction: column;
    align-items: center;
  }
  .mainCard {
    min-width: 90vw;
    margin: 0 1rem;
  }
} 

/*# sourceMappingURL=homePage.css.map */
