@import "_variables";

/* ----- FONTS ---------- */
$font-path: "../assets/fonts";

@font-face {
  font-family: "Heebo", sans-serif;
  src: local($font-path + "/Heebo-light.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heebo", sans-serif;
  src: local($font-path + "/Heebo-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Heebo", sans-serif;
  src: local($font-path + "/Heebo-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

/* ----- GENERAL LAYOUT ----- */

* {
  margin: 0;
  padding: 0;
}
