/* ----- MEDIA QUERIES ----- */

@media (max-width: 990px) {
  /* ----- BURGER MENU ----- */
  .burgerBtn {
    display: block;
  }

  .burgerMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 20%;
  }

  /* ----- ADAPTATIVE ----- */
  .mobileHeader {
    display: flex;
    height: 15vh;
    background-color: white;
  }
  .mobileImg,
  .mobileLogo,
  .burgerBtn {
    display: block;
  }

  span {
    font-size: 7vw;
  }
  /* ----- DISPLAY NONE ----- */
  header {
    background: none;
    backdrop-filter: none;
  }

  .banner,
  .navbar,
  .links,
  .buttons,
  .logo {
    display: none;
  }
}
