@media (max-width:990px) {
    main {
        margin-top: 1.7rem;
    }
    .keen-slider {
        margin-top: 0;
        border-radius: 0 0 35px 35px;
        img {
            box-sizing: content-box;
            height: 100%;
        }
        .welcome{
            margin-top: 10rem;
        }
    }
}