/* ----- THEME COLORS ---------- */

$background-color: rgb(204, 220, 203);
$dark-color: rgb(13, 18, 9);
$light-color: rgb(255, 255, 255);
$main-color: rgb(100, 128, 0);
$main-darker-color: rgb(67, 84, 3);

$icon-path: "../assets/icons";

/* ----- ACTION BUTTON COLORS ----- */
