/* ----- THEME COLORS ---------- */

$background-color: rgb(225, 236, 224);
$dark-color: rgb(13, 18, 9);
$light-color: rgb(208, 244, 180);
$main-color: rgb(118, 148, 10);
$main-darker-color: rgb(67, 84, 3);

$icon-path: "../assets/icons";

/* ----- ACTION BUTTON COLORS ----- */
