@import "_mixins";
@import "_variables";

header {
  position: fixed;
  display: grid;
  z-index: 2;
  top: 0;
  width: 100vw;
  background-color: rgba($color: white, $alpha: 0.7);
  backdrop-filter: blur(2px);
}

/* ----- BANNER ---------- */

.banner {
  position: relative;
  background-color: $main-color;
  min-width: 100vw;
  max-width: 100vw;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    gap: 1.5vw;
    margin-left: -10rem;
  }
  li {
    display: flex;
    list-style: none;
    a {
      font-family: "Heebo", sans-serif;
      font-weight: 400;
      text-decoration: none;
      white-space: nowrap;
      color: $light-color;
    }
    img {
      max-width: 20px;
    }
  }
}
.searchBar .promo,
.infoNav,
.languageSelect {
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.languageSelect {
  padding-left: 2rem;
}
.searchBar {
  padding-right: 2rem;
}

select,
input {
  padding: 0 0.5vw;
  background-color: $light-color;
  color: $dark-color;
  border: none;
}
.submit {
  background-color: $main-darker-color;
  color: $light-color;
  margin: 0 0.5vw;
  padding: 0.1vw 1vw;
}

.promo {
  max-width: 40vw;
  p {
    white-space: no-wrap;
  }
}

/* ----- MAIN NAVBAR ----- */

.navbar {
  position: relative;
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  top: 2rem;
  box-sizing: border-box;
}

/* --------------- LOGO ----- */

.logo {
  position: relative;
  display: flex;
  margin-left: 1rem;
  img {
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 2vw;
  }
  h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    .fresh {
      color: $main-color;
    }
    .shop {
      color: $dark-color;
    }
  }
}

/* ---------------NAV MENU ----- */

.links {
  position: relative;
  display: flex;
  gap: 2rem;
  padding-top: 1.8rem;
  margin-left: -6vw;
  li {
    list-style: none;
    a {
      font-family: "Heebo", sans-serif;
      font-weight: 600;
      text-decoration: none;
      white-space: nowrap;
      color: $dark-color;
      text-transform: uppercase;
      font-size: 1.2rem;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.burgerBtn,
.burgerMenu,
.mobileHeader {
  display: none;
}

/* --------------- ACTION BUTTONS ----- */

.buttons {
  display: flex;
  position: relative;
  gap: 1vw;
  margin-right: 1rem;
  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
    padding: 1vh 2vw;
    background-color: rgba($color: white, $alpha: 1);
    border-radius: 9px;
    border: 2px solid $main-color;
    img {
      max-width: 1.3vw;
    }
    a {
      font-family: "Heebo", sans-serif;
      font-weight: 400;
      text-decoration: none;
      color: $dark-color;
      padding-left: 0.1vw;
    }
  }
}

@import "_responsiveHeader";
