@import "_mixins";
@import "_variables";

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: white, $alpha: 0.7);
  backdrop-filter: blur(2px);
}

/* ----- BANNER ---------- */

.banner {
  background-color: $main-color;
  height: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  ul {
    display: flex;
    gap: 2rem;
  }
  li {
    display: flex;
    list-style: none;
    a {
      font-family: "Heebo", sans-serif;
      font-weight: 400;
      text-decoration: none;
      color: $light-color;
    }
  }
}

select,
input {
  padding: 0 0.5rem;
  background-color: $light-color;
  color: $dark-color;
  border: none;
}
.submit {
  background-color: $main-darker-color;
  color: $light-color;
  margin: 0 0.5rem;
  padding: 0.1rem 1rem;
}

/* ----- MAIN NAVBAR ----- */

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1800px;
  height: 7em;
  top: 1.5rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  img {
    position: absolute;
    z-index: -1;
    top: -18px;
    left: 5rem;
  }
  h1 {
    font-family: "Heebo", sans-serif;
    font-weight: 800;
    font-size: 3em;
    .fresh {
      color: $main-color;
    }
    .shop {
      color: $dark-color;
    }
  }
}

.links {
  display: flex;
  gap: 2rem;
  padding-top: 1.8rem;
  margin-left: -5.4rem;
  li {
    list-style: none;
    a {
      font-family: "Heebo", sans-serif;
      font-weight: 800;
      text-decoration: none;
      color: $dark-color;
      text-transform: uppercase;
      font-size: 1.2rem;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.burger-menu {
  display: none;
}
