@import "_mixins";
@import "_variables";


main {
  background-color: $main-color;
  width: 100vw;
    margin: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

/* -------------------- JUMBO SLIDER -------------------- */

.keen-slider {
  height: 92vh;
  box-sizing: content-box;
  width: 100%;
  
  .welcome {
    position: absolute;
    display: flex;
    background-color: rgba($color: $main-darker-color, $alpha: .7);
    border-top: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width : 100%;
    height: 50%;
    margin-top: 18rem;
    gap: 1rem;
    h1{
      font-weight: 600;
      font-size: 3rem;
    }
    p {
      font-weight: 400;
    }
  }

  .keen-slider__slide{
    display: flex;
    img {
      position: relative;
      width: 100%;
      object-fit: cover;  
    }
  }
  
  border-radius: 0 0 50px 50px;
  border-bottom: 3px solid $main-color;
  box-shadow: 0 7px 5px 3px rgba($color: #000000, $alpha: .2);
}

/* -------------------- OUR SERVICES -------------------- */

.Services {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 2.4rem;
    color : white;
  }
  .container {
    width: 100%;
    height: fit-content;
    background-color: white;
    display:flex;
    justify-content: space-around;
    border-radius: 0 0 50px 50px ;
    
  }
}

@import "_responsiveHomePage";