@import "_mixins";
@import "_variables";

.mainCard {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: $main-color;
    img {
        aspect-ratio: 1/1;
        width: 100%;
    }
    p {
        width: 100%;
        
    }

}